#header {
	height: 10px;
	overflow: hidden;
}

#content {
	overflow: hidden;
	margin-bottom: 20px;
	float: center;
	width: 1280px;
	padding: 2px;
	min-height: 600px;

}


#footer {
	overflow: hidden;
	float:center;
	margin: 20px auto 0px auto;
	padding: 20px 0px;

}

#footer p {
	text-align: center;
	font-size: 7px;
}

#footer a {
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 90%;
}
